<div class="content_middle_settup">
    <div class="login_form">
        <table>
            <tr>
                <td colspan="2"><input type="text" placeholder="Логін" id="login"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="password" placeholder="Пароль" id="password"></td>
            </tr>
            <tr>
                <td></td>
                <td class="text_right"><button class="btn btn-primary login">Увійти</button></td>
            </tr>
        </table>
    </div>
</div>