{menu}
<div class="content_middle_settup">
    <div class="profile">
        <div class="profile_img"><i class="fa-solid fa-user"></i></div>
        <div class="profile_info">
            <div><span>ID:</span> <span>{id}</span></div>
            <div><span>Ім'я:</span> <span>{name}</span></div>
            <div><span>Прізвище:</span> <span>{second}</span></div>
            <div><span>Логін:</span> <span>{login}</span></div>
            <div><span>Дата реєстрації:</span> <span>{reg_date}</span></div>
            <div><span>Статус:</span> <span>{status}</span></div>
        </div>
        <div class="profile_buttons">
            <button class="btn btn-primary editProfile">Редагувати</button>
            <button class="btn btn-danger logout">Вийти</button>
        </div>
    </div>
</div>