<table class="history">
    <thead>
        <tr>
            <th colspan="2">
                <b>Дані для конфігурації (Файл data/config.php)</b>
            <th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="server_mysql">Телеграм Bot token</td>
            <td class="settings_input"><input type="text" id="tg_token" value="{bot_token}"></td>
        </tr>
        <tr>
            <td>Посилання на Телеграм Bot</td>
            <td><input type="text" id="tg_url" value="{tg_url}"></td>
        </tr>
        <tr>
            <td>Чат-заглушка (Для тестів. Необхідний на випадок, якщо не вказувати кому відправляти повідомлення)</td>
            <td><input type="text" id="chat_id" value="{chat_id}"></td>
        </tr>
        <tr><td colspan="2" class="text_right"><button class="btn btn-info connect_webhooks">Підключити вебхуки до бота</button><button class="btn btn-primary saveSettings">Зберегти</button></td></tr>
    </tbody>
</table>

<table class="history">
    <thead>
        <tr>
            <th>
                <b>Налаштування меню бота</b>
            <th>
        </tr>
    </thead>
    <tbody>
        {bot_menu}
        <tr>
            <td class="text_right">
                <button class="btn btn-primary addNewButton">Додати окрему кнопку</button>
                <button class="btn btn-primary addMenu">Додати меню</button>
                <button class="btn btn-primary saveBotMenu">Зберегти</button>
            </td>
        </tr>
    </tbody>
</table>

<script>
    var completeButtons = [];
    var allButons = [];
    if(completeButtons.length > 0) {
        for(const id in completeButtons) {
            allButons.push(completeButtons[id]);
        }
    }
</script>